/* Component styles */
.logo {
    font-family: "Poppins", sans-serif;
    display: block;
    font-size: x-large;
  }
  
  .nav {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
  }
  
  .nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--border-radius-full);
    transition: background 0.3s, color 0.3s;
  }
  
  .nav a.active,
  .nav a:hover {
    background-color: var(--primary-color);
    color: var(--light-text);
  }
  
  /* Other component styles... */